body {
    background-color: #dac44bcc;
}

h2,
label {
    color: #564737;
}

.logout {
    position: absolute;
    right: 5%;
}

.label {
    color: #564737;
    font-family: century-gothic;
}

.no-padding {
    padding: 0;
}

.photo-upload {
    text-align: center;
    background: white;
    color: #464a4c;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    padding: 20px 10px;
}

.panel {
    min-height: 200px;
}

#add_note {
    color: #564737;
    border: 1px dashed #564737;
}

#nav {
    color: black;
    /*  font-family: century-gothic;*/
    color: #564737;
}

.nav {
    font-size: 16px;
    color: black;
    /* font-family: Garamond;*/
}

#user_photo {
    text-align: center;
}

#user_photo img {
    border-radius: 100%;
    max-width: 150px;
    margin: auto;
}

#notes_panel {
    padding: 20px;
    margin: 10px;
    border: 2px dashed #564737;
    border-radius: 5px;
    overflow-y: auto;
}

#highlights_panel {
    padding: 20px;
    margin: 10px;
    border: 2px dashed #564737;
    border-radius: 5px;
}

.display-icon a i {
    color: silver;
}
/* POSTS */

.post {
    min-height: 60px;
    margin-left: 0;
    margin-top: 24px;
    position: relative;
}

.post__date {
    display: block;
    position: absolute;
    background: #eee;
    padding: 3px 6px;
    right: 5px;
    bottom: 5px;
    border-radius: 25px;
    opacity: 0.5;
    font-size: 10px;
}

.post.quote .post__content {
    padding-left: 30px;
}

#featured-post .post.quote .post__content {
    padding-left: 0px;
}

#featured-post .post.quote .post__content::before,
.post.quote .post__content::before {
    content: "\201C";
    /*Unicode for Left Double Quote*/
    /*Font*/
    font-family: Georgia, serif;
    font-size: 50px;
    font-weight: bold;
    color: #999;
    /*Positioning*/
    position: absolute;
    left: 5px;
    top: -5px;
}

#featured-post .post.quote .post__content::before {
    color: #fff;
    left: 0;
    top: -5px;
    opacity: 0.3;
    font-size: 80px;
}

#featured-post .post.quote .post__content::after,
.post.quote .post__content::after {
    /*Reset to make sure*/
    content: "";
}

#featured-post .post.quote .post__author,
#featured-post .post.quote .post__reference,
.post.quote .post__author,
.post.quote .post__reference {
    font-style: italic;
}

#post-area .post {
    background: white;
    padding: 5px;
    border-radius: .25rem;
}

.post img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

@supports ((-o-object-fit:cover) or (object-fit:cover)) {
    .post img {
        -o-object-fit: cover;
        height: 100%;
        max-width: none;
        object-fit: cover
    }
}

.post--h2 {
    height: 464px
}

.post__inner {
    background: #ecf0f1;
    height: 100%;
    overflow: hidden;
    position: relative
}

img.post__blur {
    display: none
}

.post__details {
    -ms-flex-align: baseline;
    -ms-flex-pack: justify;
    -webkit-box-align: baseline;
    -webkit-box-pack: justify;
    align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%
}

.post__description {
    margin: 0;
    padding: 0 2em 1em 1em;
    width: 100%
}

.post__title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 4px
}

.post__tags {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    margin: 0;
    text-align: right
}

@media screen and (min-width:768px) {
    .post--overlay .post__details {
        background-color: rgba(0, 0, 0, .6);
        bottom: 0;
        color: #fff;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 100%
    }
    .post--overlay .post__description {
        display: none
    }
    @supports ((-webkit-filter:blur(1px)) or (filter:blur(1px))) and ((-webkit-clip-path:inset(0 0 0 0)) or (clip-path:inset(0 0 0 0))) {
        .post--overlay .post__blur {
            -webkit-clip-path: inset(170px 0 0 0);
            -webkit-filter: blur(7px);
            clip-path: inset(170px 0 0 0);
            display: block;
            filter: blur(7px);
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1
        }
        .post--overlay .post__details {
            background: none
        }
        .post--overlay .post__tags,
        .post--overlay .post__title {
            position: relative;
            z-index: 2
        }
    }
}

.my-shuffle-container {
    overflow: hidden;
    position: relative
}

.my-sizer-element {
    opacity: 0;
    position: absolute;
    visibility: hidden
}

.shuffle--animatein {
    overflow: visible
}

.shuffle--animatein .post__inner {
    -webkit-transform: translateY(220px);
    opacity: 0;
    transform: translateY(220px)
}

.shuffle--animatein .post__inner--transition {
    transition: all .6s ease
}

.shuffle--animatein .post.in .post__inner {
    -webkit-transform: translate(0);
    opacity: 1;
    transform: translate(0)
}

@media screen and (max-width:767px) {
    .post {
        height: auto;
        margin-top: 20px
    }
    .post__description,
    .post__details {
        font-size: .875em;
        padding: .625em
    }
    .post__description {
        padding-bottom: 1.25em;
        padding-right: .875em
    }
    .post--h2 {
        height: auto
    }
}


/* Grid Flow Dependency Style */


/* quick grid */

.container {
    width: 93%;
    margin: auto;
}


/* Bootstrap-style columns */

.column {
    position: relative;
    float: left;
    min-height: 1px;
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    /* Space between tiles */
    margin-top: 8px;
}

.col-span {
    width: 50%;
}

.my-sizer-element {
    width: 8.33333%;
}


/* default styles so shuffle doesn't have to set them (it will if they're missing) */

.my-shuffle {
    position: relative;
    overflow: hidden;
}


/* Ensure images take up the same space when they load */


/* https://vestride.github.io/Shuffle/images */

.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect--16x9 {
    padding-bottom: 56.25%;
}

.aspect--9x80 {
    padding-bottom: calc(112.5% + 8px);
}

.aspect--32x9 {
    padding-bottom: calc(28.125% - 3px);
}

img {
    display: block;
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
}


/* Small reset */

*,
::before,
::after {
    box-sizing: border-box;
}

figure {
    margin: 0;
    padding: 0;
}